---
layout: cv
---

{% for post in paginator.posts %}
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {{ post.function }}, {{ post.date | date: "%B %Y" }} - {{ post.end | date : "%B %Y" }}
      <p>
        {{ post.excerpt }}
      </p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        {% assign previous_page_url = "/cv" %}
    {% else %}
        {% capture previous_page_url %}"/cv/page{{ paginator.previous_page }}"{% endcapture %}
    {% endif %}
    <a href="{{ previous_page_url }}" class="previous">Previous</a>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/cv/page{{ paginator.next_page }}" class="next">Next</a>
  {% endif %}
</div>


